*.csv
*.ipynb
*.tif

test_asym.npy
ifm_fitting_script.py
ifm_fitting.py
interactive_test.py
test_fitting.py
test_gui.py
picker_test.py
test_rect.py

__pycache__/

test_pics/

saved_data/*

.ipynb_checkpoints/
